<p id="notice"><%= notice %></p>

<p>
  <strong>From name:</strong>
  <%= @message.from_name %>
</p>

<p>
  <strong>From email:</strong>
  <%= @message.from_email %>
</p>

<p>
  <strong>From phone:</strong>
  <%= @message.from_phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.to_id %>
</p>

<p>
  <strong>To email:</strong>
  <%= @message.to_email %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
