<div class="listing-mini <%= listing.featured? ? "green" : "" %>">
  <div class="row mini-container">
    <div class="col-xs-12 col-sm-4 col-md-5 text-center row1">
      <%= link_to image_tag(listing.primary_photo.try(:xlarge_url) || "house-holder.jpg", width: 140, class: "lazy", lazy: true), listing  %>
      <p class="text-center" style="font-size: 10px;"><%= "#{t('dictionary.visits')}: #{listing.views.count}" %></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7 row2">
      <div class="row">
        <div class="col-md-12">
          <%= link_to listing do %>
            <div class="price">
              <div class="green-text"><%= t(listing.type) %> (<%= for_sale_or_rent(listing) %>) </div>
              <p title="<%= listing_price(listing) %>"><%= listing_price(listing) %></p>
              <span class="smaller <%= listing.listing_properties.where(:key => :price_type.to_s) == :guarani ? "text-success" : "text-danger" %>">
            <%= listing_other_price(listing) %>
          </span>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="big"><%= listing.search_address %></p>
          <p><%= listing.quick_look.gsub(/\\n/, '<br/>').html_safe.capitalize %></p>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <hr>
</div>
