<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
      <h2 class="form-signin-heading green-text"><%= t(".change_your_password")%></h2>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

      <%= f.label :password, t('layouts.registration.password') %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control", required:true %>

      <%= f.label :password_confirmation, t('layouts.registration.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", required:true %>

      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit"><%= t(".change_my_password") %></button>
      <%= render "devise/shared/links" %>

  <% end %>
</div>
