<p> <%= t('.greeting', email: @resource.email) %>! </p>
<p><%= t('.first_paragraph') %>:</p>
<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t(".third_paragraph") %>.</p>
<p><%= t(".last_paragraph") %>.</p>
