<div class="container info-container">
  <%= render "slider" %>

  <div class="info-content">
    <h1 class="info-title"><%= t(".who_we_are_title") %></h1>
    <p><%= t(".who_we_are_body") %></p>

    <h2 class="info-title"><%= t(".mission_title") %></h2>
    <p><%= t(".mission_body") %></p>

    <h2 class="info-title"><%= t(".vision_title") %></h2>
    <p><%= t(".vision_body") %></p>
    <!--
    <h2 class="info-title"><%= t(".values_title") %></h2>
    <ul>
      <% t(".values_body").split(',').each do |value| %>
      <li><span class="enum"></span> <%= value %></li>
      <% end %>
    </ul>
    -->
  </div>
  <!-- banners -->
  <!--<div class="banners">-->
  <!--<div class="row">-->
  <!--<div class="col-md-3 col-sm-6"><p><a href="#"><%= image_tag "content/banner-square.png", class:"img-responsive center-block" %></a></p></div>-->
  <!--<div class="col-md-3 col-sm-6"><p><a href="#"><%= image_tag "content/banner-square.png", class:"img-responsive center-block" %></a></p></div>-->
  <!--<div class="col-md-3 col-sm-6"><p><a href="#"><%= image_tag "content/banner-square.png", class:"img-responsive center-block" %></a></p></div>-->
  <!--<div class="col-md-3 col-sm-6"><p><a href="#"><%= image_tag "content/banner-square.png", class:"img-responsive center-block" %></a></p></div>-->
  <!---->
  <!--</div>-->
  <!--</div>-->
  <!-- /banners -->
</div>
<!-- /about -->
