<div class="container info-container">
    <div class="info-content">
        <h2 class="info-title"><%= t('.privacy_policy_title') %></h2>
        <p><%= t('.privacy_policy_body').html_safe %></p>

        <h2 class="info-title"><%= t(".confidentiality_title") %></h2>
        <%= t('.confidentiality_body').html_safe %>

        <h2 class="info-title"><%= t('.cookie_title') %></h2>
        <%= t('.cookie_body').html_safe %>

        <h2 class="info-title"><%= t('.info_title') %></h2>
        <%= t('.info_body').html_safe %>
        <br>

        <h2 class="info-title"><%= t('.underage_title') %></h2>
        <%= t('.underage_body').html_safe %>

        <h2 class="info-title"><%= t('.personal_data_title') %></h2>
        <%= t('.personal_data_body').html_safe %>
    </div>
</div>

